[submodule "metaphlan/utils/hclust2"]
path = metaphlan/utils/hclust2
url = https://github.com/SegataLab/hclust2

[submodule "phylophlan"]
path = metaphlan/utils/phylophlan
url = https://github.com/biobakery/phylophlan
