# TOML configuration file
# see https://toml.io/en/v1.0.0 for syntax

fix_pairend = true  # whether to fix pair end information from metaphlan output, requires SAM in input
dedup_stats = false  # whether to run samtools rmdup to mark and count duplicate reads. Needs to have fix_paired set to true
remove_viral_hits = true  # keeping the viral hits is not tested

# read mapping filtering
min_mapping_quality = 1  # minimum mapQ
filter_indels = true  # remove indel alignments
filter_duplicates = false  # works only if dedup stats is set to true
min_read_pident = 90  # minimum percentage of identity to keep a read

# base filtering
min_base_coverage = 1  # minimum base coverage
min_base_quality = 30  # minimum PHRED base quality

seq_error_stats_min_cov = 5
null_err_rate_pseudocount = 1
null_err_rate_excess_pseudocount = 1
max_null_err_rate = 0.0  # set 0 to turn of null_err rate and use the PHRED qualities from the sequencing
discard_read_ends = true  # whether to check for excess error rate at the ends of the reads
discard_read_ends_support = 10

#error_rate = 'phred'  # expected sequencing error rate of bases with qualities >= min_base_quality. [phred, estimate, float]
#error_rate_estimation_positions = 100000   # min positions to take the estimate otherwise...
#error_rate_fallback = 'phred'  # use the fallback value


# species presence calling
min_marker_breadth = 0.1  # minimum breadth of coverage (at coverage depth >= 1x) for the marker to be kept
quasi_marker_frac = 0.33
min_markers_abs = 1   # minimum absolute number of markers for the SGB to keep, combined as AND with the following
min_markers_rel = 0.2  # minimum fraction of available markers in DB to keep the SGB, combined as AND with previous


# Loci filtering
outlier_coverage_overdispersion = 1.5  # ratio of variance to mean
outlier_coverage_p = 1e-3
trim_marker_ends = 0  # how many positions to trim from the end of the markers
outlier_coverage_marker = 0.3  # the fraction of positions with outlier coverage to discard the whole marker
q_uniformity_alpha = 0.05  # the alpha q value for the uniformity test for the marker to be reported (note that it's still kept)


# SNP calling
polymorphism_q_alpha = 1e-6  # the maximum FDR-corrected p-value (q-value) in the polymorphism test


# multistrain calling
multistrain_min_markers_abs = 1
multistrain_min_markers_rel = 0.2

# likag graph merging
max_w_across = 0
min_w_along = 1

# model fitting
max_iter = 50  # maximum iterations to give to the optimizer
init_r_max = 0.99  # maximum r to use as an initial guess
negative_variance_tol = 1e-6  # if the calculated variance is negative but close to zero within this tolerance, accept it
init_snp_rate_min = 0.0001  # minimum snp_rate to use as an initial guess for the optimization
snp_rate_fallback = 0.01  # the snp rate to use when fitting fails
r_fallback = 0.5  # the major/minor ratio to use when fitting fails


# Reconstructed markers output
min_output_quality = 25  # Minimum PHRED base quality to consider the base as called, otherwise place a gap. [e.g. 10 ~ 90%, 20 ~ 99%, 30 ~ 99.9% confidence]
min_output_base_coverage = 1

#min_output_breadth = 80  # Minimum breadth of coverage to output the marker [%]
#min_output_snp_rate = 0.5  # Minimum SNP rate to report the second strain [%]
#min_recall = 80  # Minimum recall to report the second strain [%]
#min_precision = 80  # Minimum precision to report the second strain [%]
#min_precision_support = 100  # Minimum precision support to report the second strain
#max_r_var = 0.1  # Maximum variance of the strain ratio to consider reliable fit and report the second strain, nan to turn off filtering
#max_snp_rate_var = 0.1  # Maximum variance of the snp rate to consider reliable fit and report the second strain, nan to turn off filtering

min_output_breadth = 0
min_output_snp_rate = 0
min_recall = 0
min_precision = 0
min_precision_support = 0
max_r_var = nan
max_snp_rate_var = nan
